.navbar {
	overflow: hidden;
	background-color: #333;
	position: fixed ; 
	top: 0; 
	width: 100%; 
	z-index: inherit 3;
	padding: 0px;
  }
  
  /* Links inside the navbar */
  .navbar a {
	float: right;
	display: block;
	color: #f7d0d0;
	padding: 5px;
	text-decoration: none;
	transition: all 0.4s;
	border-radius: 20px;
  }
  .navbar:image{
	  width: 20px;
  }
  /* Change background on mouse-over */
  .navbar a:hover, .navbar image:hover {
	border-radius: 20px;
	background: #ddd;
	color: black;
  }
  
  /* Main content */
  .main {
	margin-top: 80px;
	z-index: 1;
	position: fixed; /* Add a top margin to avoid content overlay */
  }

html, body{
    margin:0px;
    padding:0px;
}